<%- include('partials/header'); -%>
<div class="home">
  <img src="/home.jpg" alt="">
<header>
  <div class="headings">
    <h2>Go To Calender</h2>
    <h3>Create New Event </h3>
    <a href="/calender" class="btn">View Calender</a>
  </div>
</header>

</div>


<%- include('partials/footer'); -%>